@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-black);
  width: 1447.69px;
  height: 130px;
  opacity: 0;
}
.group-inner.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.group-inner:hover {
  background-color: var(--color-mediumblue-100);
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.the-final-frontier3 {
  position: absolute;
  top: 17px;
  left: 153px;
  display: inline-block;
  width: 269px;
  height: 92px;
}
.logo-1-icon3 {
  position: absolute;
  top: 4px;
  left: 36px;
  width: 88px;
  height: 88px;
  object-fit: cover;
}
.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1447.69px;
  height: 130px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-kyivtype-sans);
}
.ai-child {
  border: 0;
  position: absolute;
  top: 130px;
  left: 8px;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 901px;
}
.chat-bot3,
.home3,
.resources3 {
  text-decoration: none;
  position: absolute;
  top: 47px;
  left: 958px;
  color: inherit;
  display: inline-block;
  width: 137px;
  height: 32px;
}
.chat-bot3,
.resources3 {
  left: 1079px;
  width: 124px;
}
.chat-bot3 {
  left: 1259px;
  width: 181px;
}
.ai {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
