@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
.quiz-child,
.rectangle-header {
  position: absolute;
  left: 0;
  width: 1536px;
}
.quiz-child {
  border: 0;
  top: 157px;
  background-color: var(--color-gainsboro);
  height: 947px;
}
.rectangle-header {
  top: 0;
  background-color: var(--color-black);
  height: 157px;
}
.rectangle-header:hover {
  mix-blend-mode: normal;
  background-color: var(--color-midnightblue);
  animation: 3s ease 0s 1 normal none shadow-inset-center;
  opacity: 1;
}
.the-final-frontier4 {
  position: absolute;
  top: 18.64px;
  left: 198.4px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-kyivtype-sans);
  display: inline-block;
  width: 286.93px;
  height: 82.43px;
}
.logo-1-icon4 {
  position: absolute;
  top: 18.64px;
  left: 54.4px;
  width: 93.87px;
  height: 86.35px;
  object-fit: cover;
}
.chat-bot4,
.resources4,
.timeline1 {
  position: absolute;
  display: inline-block;
}
.timeline1 {
  text-decoration: none;
  top: 52.99px;
  left: 953.6px;
  font-size: var(--font-size-6xl);
  color: inherit;
  width: 126.93px;
  height: 35.33px;
  cursor: pointer;
}
.chat-bot4,
.resources4 {
  top: 53.97px;
  left: 1130.67px;
  width: 162.13px;
  height: 48.08px;
}
.chat-bot4 {
  text-decoration: none;
  left: 1342.93px;
  color: inherit;
  width: 134.4px;
  height: 20.61px;
}
.group-div,
.home4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1536px;
  height: 157px;
}
.home4 {
  text-decoration: none;
  top: 53px;
  left: 768px;
  font-size: var(--font-size-6xl);
  color: inherit;
  display: inline-block;
  width: 160px;
  height: 26px;
}
.quiz {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1104px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
